{{#isCookieParam}}@CookieValue(value = "{{baseName}}"{{#defaultValue}}, defaultValue = "{{defaultValue}}"{{/defaultValue}}) {{>common/params/validation}}{{>client/params/type}}{{paramName}}: {{{vendorExtensions.typeWithGenericAnnotations}}}{{/isCookieParam}}