{{#isHeaderParam}}@Header(name = "{{baseName}}"{{#defaultValue}}, defaultValue = "{{{defaultValue}}}"{{/defaultValue}}) {{>common/params/validation}}{{>client/params/type}}{{paramName}}: {{{vendorExtensions.typeWithoutPrefix}}}{{/isHeaderParam}}