{{#formatNoEmptyLines}}
{{#additionalOneOfTypeAnnotations}}
{{{.}}}
{{/additionalOneOfTypeAnnotations}}
{{#generatedAnnotation}}
{{>common/generatedAnnotation}}
{{/generatedAnnotation}}
{{#micronaut_serde_jackson}}
@Serdeable
{{/micronaut_serde_jackson}}
{{^micronaut_serde_jackson}}
@Introspected
{{/micronaut_serde_jackson}}
{{>common/model/typeInfoAnnotation}}
{{/formatNoEmptyLines}}{{#nonPublicApi}}internal {{/nonPublicApi}}{{^nonPublicApi}}{{#explicitApi}}public {{/explicitApi}}{{/nonPublicApi}}{{#useSealed}}sealed {{/useSealed}}interface {{classname}}{{#vendorExtensions.x-implements}}{{#-first}} : {{{.}}}{{/-first}}{{^-first}}, {{{.}}}{{/-first}}{{/vendorExtensions.x-implements}}{{#discriminator}} {

    val {{propertyName}}: {{propertyType}}
}
{{/discriminator}}
