{{#formatNoEmptyLines}}
{{#additionalOneOfTypeAnnotations}}
{{{.}}}
{{/additionalOneOfTypeAnnotations}}
{{#generatedAnnotation}}
{{>common/generatedAnnotation}}
{{/generatedAnnotation}}
{{>common/model/typeInfoAnnotation}}
{{/formatNoEmptyLines}}interface {{classname}}{{#vendorExtensions.x-implements}}{{#-first}} : {{{.}}}{{/-first}}{{^-first}}, {{{.}}}{{/-first}}{{/vendorExtensions.x-implements}}{{#discriminator}} {

    val {{propertyName}}: {{propertyType}}
}
{{/discriminator}}
