
{{#formatNoEmptyLines}}
/**
 * {{#description}}{{.}}{{/description}}{{^description}}{{classname}}{{/description}}
{{#isDeprecated}}
 *
 * @deprecated{{#vendorExtensions.x-deprecated-message}} {{{.}}}{{/vendorExtensions.x-deprecated-message}}
{{/isDeprecated}}
 */
{{#isDeprecated}}
@Deprecated("{{#vendorExtensions.x-deprecated-message}}{{{.}}}{{/vendorExtensions.x-deprecated-message}}")
{{/isDeprecated}}
{{#description}}
    {{#generateSwagger2Annotations}}
@Schema({{#vendorExtensions.realName}}name = "{{{vendorExtensions.realName}}}", {{/vendorExtensions.realName}}description = "{{{description}}}"{{#isDeprecated}}, deprecated = true{{/isDeprecated}})
    {{/generateSwagger2Annotations}}
{{/description}}
{{#micronaut_serde_jackson}}
@Serdeable
{{/micronaut_serde_jackson}}
{{#jackson}}
    {{#hasVars}}
@JsonPropertyOrder(
    {{#vars}}
        {{classname}}.JSON_PROPERTY_{{nameInSnakeCase}}{{^-last}},{{/-last}}
    {{/vars}}
)
    {{/hasVars}}
{{/jackson}}
{{#additionalModelTypeAnnotations}}
{{{.}}}
{{/additionalModelTypeAnnotations}}
{{#generatedAnnotation}}
{{>common/generatedAnnotation}}
{{/generatedAnnotation}}
{{>common/model/typeInfoAnnotation}}
{{>common/model/xmlAnnotation}}
{{#useBeanValidation}}
    {{^micronaut_serde_jackson}}
@Introspected
    {{/micronaut_serde_jackson}}
{{/useBeanValidation}}
{{#vendorExtensions.x-class-extra-annotation}}
{{{.}}}
{{/vendorExtensions.x-class-extra-annotation}}
{{/formatNoEmptyLines}}
{{!Declare the class with extends and implements}}
{{#nonPublicApi}}internal {{/nonPublicApi}}{{#hasChildren}}open {{/hasChildren}}{{^hasChildren}}{{#hasVars}}data {{/hasVars}}{{/hasChildren}}class {{classname}}{{#hasVars}}({{/hasVars}}
{{#vendorExtensions.requiredVarsWithoutDiscriminator}}

    {{#formatNoEmptyLines}}
    {{#description}}
    /**
     * {{description}}
        {{#deprecated}}
     *
     * @deprecated{{#vendorExtensions.x-deprecated-message}} {{{.}}}{{/vendorExtensions.x-deprecated-message}}
        {{/deprecated}}
     */
    {{/description}}
    {{^description}}
        {{#deprecated}}
    /**
     * @deprecated{{#vendorExtensions.x-deprecated-message}} {{{.}}}{{/vendorExtensions.x-deprecated-message}}
     */
        {{/deprecated}}
    {{/description}}
    {{>common/model/field_annotations}}
    {{#vendorExtensions.overridden}}override {{/vendorExtensions.overridden}}{{^vendorExtensions.overridden}}{{#hasChildren}}open {{/hasChildren}}{{/vendorExtensions.overridden}}var {{{name}}}: {{{vendorExtensions.typeWithEnumWithGenericAnnotations}}}{{#vendorExtensions.defaultValueInit}} = {{{.}}}{{/vendorExtensions.defaultValueInit}}{{^vendorExtensions.defaultValueInit}}{{#isNullable}} = null{{/isNullable}}{{/vendorExtensions.defaultValueInit}},
    {{/formatNoEmptyLines}}
{{/vendorExtensions.requiredVarsWithoutDiscriminator}}
{{#vendorExtensions.withInheritance}}
    {{#vendorExtensions.optionalVars}}

        {{#formatNoEmptyLines}}
        {{#description}}
    /**
     * {{description}}
    {{#deprecated}}
     *
     * @deprecated{{#vendorExtensions.x-deprecated-message}} {{{.}}}{{/vendorExtensions.x-deprecated-message}}
    {{/deprecated}}
     */
        {{/description}}
        {{^description}}
            {{#deprecated}}
    /**
     * @deprecated{{#vendorExtensions.x-deprecated-message}} {{{.}}}{{/vendorExtensions.x-deprecated-message}}
     */
            {{/deprecated}}
        {{/description}}
    {{>common/model/field_annotations}}
    {{#vendorExtensions.overridden}}override {{/vendorExtensions.overridden}}{{^vendorExtensions.overridden}}{{#vendorExtensions.hasChildren}}open {{/vendorExtensions.hasChildren}}{{/vendorExtensions.overridden}}var {{{name}}}: {{{vendorExtensions.typeWithEnumWithGenericAnnotations}}} = {{#vendorExtensions.defaultValueInit}}{{{.}}}{{/vendorExtensions.defaultValueInit}}{{^vendorExtensions.defaultValueInit}}null{{/vendorExtensions.defaultValueInit}},
    {{/formatNoEmptyLines}}
    {{/vendorExtensions.optionalVars}}
{{/vendorExtensions.withInheritance}}
{{#hasVars}}){{/hasVars}}{{#parent}}: {{{parent}}}({{#vendorExtensions.requiredParentVarsWithoutDiscriminator}}{{{name}}}{{^-last}}, {{/-last}}{{/vendorExtensions.requiredParentVarsWithoutDiscriminator}}) {{/parent}}{{#vendorExtensions.x-implements}}{{#parent}}, {{/parent}}{{^parent}}: {{/parent}}{{^-first}}, {{/-first}}{{{.}}}{{/vendorExtensions.x-implements}} {{openbrace}}

    {{#vendorExtensions.withInheritance}}

    override fun equals(other: Any?): Boolean {
        if (this === other) return true
        if (javaClass != other?.javaClass) return false
    {{#parent}}
        if (!super.equals(other)) return false
    {{/parent}}
        other as {{classname}}
    {{#hasVars}}
        {{#vars}}
        if ({{{name}}} != other.{{{name}}}) return false
        {{/vars}}
    {{/hasVars}}
        return true
    }

    override fun hashCode(): Int {
        var result = {{#parent}}super.hashCode(){{/parent}}{{^parent}}{{#vars.0}}{{{name}}}{{#isNullable}}?{{/isNullable}}.hashCode(){{#isNullable}} ?: 0{{/isNullable}}{{/vars.0}}{{/parent}}
    {{#hasVars}}
    {{#vars}}
        {{#parent}}
        result = 31 * result + {{#isNullable}}({{/isNullable}}{{{name}}}{{#isNullable}}?{{/isNullable}}.hashCode(){{#isNullable}} ?: 0){{/isNullable}}
        {{/parent}}
        {{^parent}}
            {{^-first}}
        result = {{#-first}}{{#parent}}31 * result + {{/parent}}{{/-first}}{{^-first}}31 * result + {{/-first}}{{#isNullable}}({{/isNullable}}{{{name}}}{{#isNullable}}?{{/isNullable}}.hashCode(){{#isNullable}} ?: 0){{/isNullable}}
            {{/-first}}
        {{/parent}}
    {{/vars}}
    {{/hasVars}}
        return result
    }

    override fun toString(): String {
    {{#hasVars}}
        return "{{classname}}({{#allVars}}{{{vendorExtensions.realName}}}='${{{name}}}'{{^-last}}, {{/-last}}{{/allVars}})"
    {{/hasVars}}
    {{^hasVars}}
        return "{{classname}}()"
    {{/hasVars}}
    }
    {{/vendorExtensions.withInheritance}}

    {{#vars}}
        {{#isEnum}}
            {{^isContainer}}
                {{#indent}}
{{>common/model/enum}}
                {{/indent}}
            {{/isContainer}}
            {{#isContainer}}
                {{#mostInnerItems}}
                    {{#indent}}
{{>common/model/enum}}
                    {{/indent}}
                {{/mostInnerItems}}
            {{/isContainer}}
        {{/isEnum}}

    {{/vars}}

    companion object {
    {{#serializableModel}}

        @Serial
        @JvmStatic
        private val serialVersionUID = {{{vendorExtensions.serialId}}}L
    {{/serializableModel}}

    {{#vars}}
        const val JSON_PROPERTY_{{nameInSnakeCase}} = "{{baseName}}"
    {{/vars}}
    }
{{closebrace}}
