package {{package}};

{{#imports}}import {{import}};
{{/imports}}
import io.micronaut.test.extensions.junit5.annotation.MicronautTest;
import org.junit.jupiter.api.Test;
import org.junit.jupiter.api.Assertions;
import org.junit.jupiter.api.Disabled;
import {{javaxPackage}}.inject.Inject;
import {{javaxPackage}}.validation.Valid;
import {{javaxPackage}}.validation.constraints.*;
{{#wrapInHttpResponse}}
import io.micronaut.http.HttpResponse;
{{/wrapInHttpResponse}}
import java.util.Arrays;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.HashSet;

import static org.junit.jupiter.api.Assertions.*;

/**
 * API tests for {{classname}}
 */
@MicronautTest
class {{classname}}Test {

    @Inject
    {{classname}} api;
    {{#operations}}{{#operation}}
    /**
     * {{summary}}
     {{#notes}}
     * <p>
     * {{notes}}
     {{/notes}}
     */
    @Disabled("Not Implemented")
    @Test
    void {{operationId}}Test() {
        // given
        {{#allParams}}
        {{{vendorExtensions.baseType}}} {{paramName}} = {{#isFile}}null{{/isFile}}{{^isFile}}{{{example}}}{{/isFile}};
        {{/allParams}}

        // when
        {{#wrapInHttpResponse}}
        HttpResponse<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}Void{{/returnType}}> response = api.{{operationId}}({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}}){{#reactive}}.block(){{/reactive}};{{#returnType}}
        {{{returnType}}} rsBody = response.body();{{/returnType}}
        {{/wrapInHttpResponse}}
        {{^wrapInHttpResponse}}
        {{#returnType}}var rsBody = {{/returnType}}api.{{operationId}}({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}}){{#reactive}}.block(){{/reactive}};
        {{/wrapInHttpResponse}}

        // then
        // TODO implement the {{operationId}}Test()
    }
    {{/operation}}{{/operations}}
}
