
{{#isQueryParam}}
        @QueryValue("{{{vendorExtensions.baseNameNormalized}}}"{{#vendorExtensions.defaultValueNormalized}}, defaultValue = "{{{.}}}"{{/vendorExtensions.defaultValueNormalized}})
{{/isQueryParam}}
{{#isPathParam}}
        @PathVariable("{{{vendorExtensions.baseNameNormalized}}}"{{#vendorExtensions.defaultValueNormalized}}, defaultValue = "{{{.}}}"{{/vendorExtensions.defaultValueNormalized}})
{{/isPathParam}}
{{#isHeaderParam}}
        @Header("{{{vendorExtensions.baseNameNormalized}}}"{{#vendorExtensions.defaultValueNormalized}}, defaultValue = "{{{.}}}"{{/vendorExtensions.defaultValueNormalized}})
{{/isHeaderParam}}
{{#isBodyParam}}
    {{#vendorExtensions.isPart}}
        @Part("{{{vendorExtensions.baseNameNormalized}}}")
    {{/vendorExtensions.isPart}}
    {{^vendorExtensions.isPart}}
        @Body
    {{/vendorExtensions.isPart}}
{{/isBodyParam}}
{{#isFormParam}}
    {{#vendorExtensions.isPart}}
        @Part("{{{vendorExtensions.baseNameNormalized}}}")
    {{/vendorExtensions.isPart}}
    {{^vendorExtensions.isPart}}
        @Body("{{{vendorExtensions.baseNameNormalized}}}"{{#vendorExtensions.defaultValueNormalized}}, defaultValue = "{{{.}}}"{{/vendorExtensions.defaultValueNormalized}})
    {{/vendorExtensions.isPart}}
{{/isFormParam}}
{{#isCookieParam}}
        @CookieValue("{{{vendorExtensions.baseNameNormalized}}}"{{#vendorExtensions.defaultValueNormalized}}, defaultValue = "{{{.}}}"{{/vendorExtensions.defaultValueNormalized}})
{{/isCookieParam}}
