{{>common/licenseInfo}}
package {{invokerPackage}}.auth.configuration

import io.micronaut.core.annotation.NonNull
import io.micronaut.http.MutableHttpRequest
{{#generatedAnnotation}}
import {{javaxPackage}}.annotation.Generated
{{/generatedAnnotation}}

{{#generatedAnnotation}}
{{>common/generatedAnnotation}}
{{/generatedAnnotation}}
interface ConfigurableAuthorization {

    val name: String

    fun applyAuthorization(@NonNull request: MutableHttpRequest<*>)
}
