{{>common/licenseInfo}}
package {{invokerPackage}}.auth.configuration

import io.micronaut.context.annotation.ConfigurationInject
import io.micronaut.context.annotation.EachProperty
import io.micronaut.context.annotation.Parameter
import io.micronaut.core.annotation.NonNull
import io.micronaut.http.MutableHttpRequest
{{#generatedAnnotation}}
import {{javaxPackage}}.annotation.Generated
{{/generatedAnnotation}}

{{#generatedAnnotation}}
{{>common/generatedAnnotation}}
{{/generatedAnnotation}}
@EachProperty("security.basic-auth")
open class HttpBasicAuthConfiguration @ConfigurationInject constructor(
        @Parameter val name: String,
        @NonNull var username: String,
        @NonNull var password: String
) : ConfigurableAuthorization {

    @Override
    override fun applyAuthorization(@NonNull request: MutableHttpRequest<*>) {
        request.basicAuth(username, password)
    }

    @Override
    override fun getName() = name
}
