{{>common/licenseInfo}}
package {{invokerPackage}}.config;

import io.micronaut.context.annotation.Bean;
import io.micronaut.context.annotation.Factory;
import io.micronaut.core.convert.TypeConverter;
{{#generatedAnnotation}}
import {{javaxPackage}}.annotation.Generated;
{{/generatedAnnotation}}
{{#enumImports}}
import {{{.}}};
{{/enumImports}}
import java.util.Optional;

@Factory
{{#generatedAnnotation}}
{{>common/generatedAnnotation}}
{{/generatedAnnotation}}
public class {{{enumConfigClassName}}} {
{{#enumParams}}

    @Bean
    public TypeConverter<String, {{{dataType}}}> toEnum{{{vendorExtensions.converterName}}}() {
        return (v, c, ctx) -> {{{vendorExtensions.convertFun}}};
    }

    @Bean
    public TypeConverter<{{{dataType}}}, String> toStr{{{vendorExtensions.converterName}}}() {
        return (v, c, ctx) -> Optional.of({{{vendorExtensions.convertToStrFun}}});
    }
{{/enumParams}}
}
