{{>common/licenseInfo}}
package {{invokerPackage}}.auth.configuration;

import io.micronaut.core.annotation.NonNull;
import io.micronaut.http.MutableHttpRequest;
{{#withGeneratedAnnotation}}
import {{javaxPackage}}.annotation.Generated;
{{/withGeneratedAnnotation}}

{{#withGeneratedAnnotation}}
{{>common/generatedAnnotation}}
{{/withGeneratedAnnotation}}
public interface ConfigurableAuthorization {

    String getName();

    void applyAuthorization(@NonNull MutableHttpRequest<?> request);
}
