<!doctype html>
<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <title>{{title}}</title>
    <link rel='icon' type='image/png' href='{{swagger-ui.js.url.prefix}}favicon-32x32.png' sizes='32x32' />
    <link rel='icon' type='image/png' href='{{swagger-ui.js.url.prefix}}favicon-16x16.png' sizes='16x16' />
    <script src='{{swagger-ui.js.url.prefix}}swagger-ui-bundle.js'></script>
    <script src='{{swagger-ui.js.url.prefix}}swagger-ui-standalone-preset.js'></script>
    <link rel='stylesheet' type='text/css' href='{{swagger-ui.js.url.prefix}}swagger-ui.css' />
    {{swagger-ui.theme}}
    {{rapipdf.script}}
</head>

<body>
    {{rapipdf.tag}}
    <div id='swagger-ui'></div>
    <script>
        window.onload = function() {
            const extract = function(v) {
                    return decodeURIComponent(v.replace(/(?:(?:^|.*;\s*)contextPath\s*\=\s*([^;]*).*$)|^.*$/, "$1"));
                },
                cookie = extract(document.cookie),
                contextPath = cookie === '' ? extract(window.location.search.substring(1)) : cookie,
                f = contextPath === '' ? undefined : () => {
                    return {
                        statePlugins: {
                            spec: {
                                wrapActions: {
                                    updateJsonSpec: (oriAction) => (...args) => {
                                        let [spec] = args;
                                        if (spec && spec.paths) {
                                            const newPaths = {};
                                            Object.entries(spec.paths).forEach(([path, value]) => newPaths[contextPath + path] = value);
                                            spec.paths = newPaths;
                                        }
                                        oriAction(...args);
                                    }
                                }
                            }
                        }
                    };
                },
                ui = SwaggerUIBundle({
                    url: contextPath + '{{specURL}}',
                    dom_id: '#swagger-ui',
                    presets: [
                        SwaggerUIBundle.presets.apis,
                        SwaggerUIStandalonePreset
                    ],
                    plugins: [
                        SwaggerUIBundle.plugins.DownloadUrl,
                        f
                    ],
                    {{swagger-ui.primaryName}}
                    {{swagger-ui.urls}}
                    {{swagger-ui.attributes}}
                });
                {{swagger-ui.oauth2}}
            window.ui = ui;
            {{rapipdf.specurl}}
        };
    </script>
</body>

</html>
