{{>common/licenseInfo}}
package {{invokerPackage}}.auth.config

import io.micronaut.core.annotation.NonNull
import io.micronaut.http.MutableHttpRequest
{{#generatedAnnotation}}
import {{javaxPackage}}.annotation.Generated
{{/generatedAnnotation}}

{{#generatedAnnotation}}
{{>common/generatedAnnotation}}
{{/generatedAnnotation}}
{{#nonPublicApi}}internal {{/nonPublicApi}}{{^nonPublicApi}}{{#explicitApi}}public {{/explicitApi}}{{/nonPublicApi}}interface ConfigurableAuthorization {

    val name: String

    fun applyAuthorization(@NonNull request: MutableHttpRequest<*>)
}
