{{>common/licenseInfo}}
package {{controllerPackage}}

import io.micronaut.http.annotation.Controller
{{#generateOperationsToReturnNotImplemented}}
import io.micronaut.http.HttpStatus
import io.micronaut.http.exceptions.HttpStatusException
{{/generateOperationsToReturnNotImplemented}}
{{#reactive}}
import reactor.core.publisher.Flux
{{/reactive}}
{{#wrapInHttpResponse}}
import io.micronaut.http.HttpResponse
{{/wrapInHttpResponse}}
import {{javaxPackage}}.validation.Valid
import {{javaxPackage}}.validation.constraints.*
import {{package}}.{{classname}}
{{#imports}}
import {{import}}
{{/imports}}

@Controller
class {{controllerClassname}} : {{classname}} {
{{#operations}}
    {{#operation}}{{#formatNoEmptyLines}}
    override fun {{nickname}}({{#allParams}}
        {{{paramName}}}: {{#isEnum}}{{{vendorExtensions.typeWithEnumWithGenericAnnotations}}}{{/isEnum}}{{^isEnum}}{{{vendorExtensions.typeWithGenericAnnotations}}}{{/isEnum}},
{{/allParams}}
    ){{#returnType}}: {{{returnType}}}{{/returnType}} {{openbrace}}{{/formatNoEmptyLines}}
{{>server/controllerOperationBody}}    }
    {{^-last}}

    {{/-last}}
    {{/operation}}
{{/operations}}
}
