{{>common/licenseInfo}}
package {{controllerPackage}}

import io.micronaut.http.annotation.Controller
{{#generateOperationsToReturnNotImplemented}}
import io.micronaut.http.HttpStatus
import io.micronaut.http.exceptions.HttpStatusException
{{/generateOperationsToReturnNotImplemented}}
{{#reactive}}
import reactor.core.publisher.Mono
import reactor.core.publisher.Flux
{{/reactive}}
{{#wrapInHttpResponse}}
import io.micronaut.http.HttpResponse
{{/wrapInHttpResponse}}
import {{package}}.{{classname}}
{{#imports}}
import {{import}}
{{/imports}}

@Controller
class {{controllerClassname}} implements {{classname}} {

{{#operations}}
    {{#operation}}
    {{!the method definition}}
    @Override
    public {{^returnType}}void{{/returnType}}{{#returnType}}{{{returnType}}}{{/returnType}} {{nickname}}({{#allParams}}{{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/allParams}}) {
{{>server/controllerOperationBody}}    }
    {{^-last}}

    {{/-last}}
    {{/operation}}
{{/operations}}
}
