
{{#isNullable}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Nullable
{{/isNullable}}
{{^isNullable}}
    {{#required}}
        {{#isReadOnly}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Nullable
        {{/isReadOnly}}
    {{/required}}
    {{^required}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Nullable
    {{/required}}
{{/isNullable}}
{{!All the validation}}
{{#useBeanValidation}}
    {{^isNullable}}
        {{#required}}
            {{^isReadOnly}}
    @{{{vendorExtensions.fieldAnnPrefix}}}NotNull
            {{/isReadOnly}}
        {{/required}}
    {{/isNullable}}
    {{^isUuid}}
    {{!Validate all pojos and enums}}
    {{^isContainer}}
        {{#isModel}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Valid
        {{/isModel}}
    {{/isContainer}}
    {{!Pattern}}
    {{#pattern}}
        {{^isByteArray}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Pattern(regexp = "{{{pattern}}}")
        {{/isByteArray}}
    {{/pattern}}
    {{!Min length && max length}}
    {{#minLength}}
        {{#maxLength}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Size(min = {{minLength}}, max = {{maxLength}})
        {{/maxLength}}
    {{/minLength}}
    {{#minLength}}{{^maxLength}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Size(min = {{minLength}})
    {{/maxLength}}{{/minLength}}
    {{^minLength}}{{#maxLength}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Size(max = {{maxLength}})
    {{/maxLength}}{{/minLength}}
    {{!Size}}
    {{#minItems}}{{#maxItems}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Size(min = {{minItems}}, max = {{maxItems}})
    {{/maxItems}}{{/minItems}}
    {{#minItems}}{{^maxItems}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Size(min = {{minItems}})
    {{/maxItems}}{{/minItems}}
    {{^minItems}}{{#maxItems}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Size(max = {{maxItems}})
    {{/maxItems}}{{/minItems}}
    {{!Email}}
    {{#isEmail}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Email
    {{/isEmail}}
    {{!check for integer or long / all others=decimal type with @Decimal isInteger set}}
    {{#isInteger}}
        {{#minimum}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Min({{minimum}})
        {{/minimum}}
        {{#maximum}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Max({{maximum}})
        {{/maximum}}
    {{/isInteger}}
    {{!isLong set}}
    {{#isLong}}
        {{#minimum}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Min({{minimum}}L)
        {{/minimum}}
        {{#maximum}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Max({{maximum}}L)
        {{/maximum}}
    {{/isLong}}
    {{!Not Integer, not Long => we have a decimal value!}}
    {{^isInteger}}
        {{^isLong}}{{!minimum for decimal value}}
            {{#minimum}}
    @{{{vendorExtensions.fieldAnnPrefix}}}DecimalMin({{#exclusiveMinimum}}value = {{/exclusiveMinimum}}"{{minimum}}"{{#exclusiveMinimum}}, inclusive = false{{/exclusiveMinimum}})
            {{/minimum}}
    {{!maximal for decimal value}}
            {{#maximum}}
    @{{{vendorExtensions.fieldAnnPrefix}}}DecimalMax({{#exclusiveMaximum}}value = {{/exclusiveMaximum}}"{{maximum}}"{{#exclusiveMaximum}}, inclusive = false{{/exclusiveMaximum}})
            {{/maximum}}
        {{/isLong}}
    {{/isInteger}}
    {{/isUuid}}
{{/useBeanValidation}}
