
{{^vendorExtensions.isPrimitiveArray}}
{{^vendorExtensions.withoutNullable}}
{{^vendorExtensions.valueWithDefaultValue}}
{{#isNullable}}
    @Nullable
{{/isNullable}}
{{^isNullable}}
    {{#required}}
        {{#isReadOnly}}
    @Nullable
        {{/isReadOnly}}
    {{/required}}
    {{^required}}
    @Nullable
    {{/required}}
{{/isNullable}}
{{/vendorExtensions.valueWithDefaultValue}}
{{/vendorExtensions.withoutNullable}}
{{/vendorExtensions.isPrimitiveArray}}
{{#useBeanValidation}}
    {{^vendorExtensions.isPrimitiveArray}}
    {{^isNullable}}
        {{#required}}
            {{^isReadOnly}}
                {{^vendorExtensions.withoutNullable}}
    @NotNull{{#vendorExtensions.x-not-null-message}}(message = "{{{.}}}"){{/vendorExtensions.x-not-null-message}}
                {{/vendorExtensions.withoutNullable}}
            {{/isReadOnly}}
        {{/required}}
    {{/isNullable}}
    {{/vendorExtensions.isPrimitiveArray}}
    {{^isUuid}}
    {{^isContainer}}
        {{#isModel}}
    @Valid
        {{/isModel}}
    {{/isContainer}}
    {{#pattern}}
        {{^isByteArray}}{{^isDate}}{{^isDateTime}}{{^isEmail}}
    @Pattern(regexp = "{{{pattern}}}"{{#vendorExtensions.x-pattern-message}}, message = "{{{.}}}"{{/vendorExtensions.x-pattern-message}})
        {{/isEmail}}{{/isDateTime}}{{/isDate}}{{/isByteArray}}
    {{/pattern}}
    {{#minLength}}
        {{#maxLength}}
    @Size(min = {{minLength}}, max = {{maxLength}}{{#vendorExtensions.x-size-message}}, message = "{{{.}}}"{{/vendorExtensions.x-size-message}})
        {{/maxLength}}
    {{/minLength}}
    {{#minLength}}{{^maxLength}}
    @Size(min = {{minLength}}{{#vendorExtensions.x-size-message}}, message = "{{{.}}}"{{/vendorExtensions.x-size-message}})
    {{/maxLength}}{{/minLength}}
    {{^minLength}}{{#maxLength}}
    @Size(max = {{maxLength}}{{#vendorExtensions.x-size-message}}, message = "{{{.}}}"{{/vendorExtensions.x-size-message}})
    {{/maxLength}}{{/minLength}}
    {{#minItems}}{{#maxItems}}
    @Size(min = {{minItems}}, max = {{maxItems}}{{#vendorExtensions.x-size-message}}, message = "{{{.}}}"{{/vendorExtensions.x-size-message}})
    {{/maxItems}}{{/minItems}}
    {{#minItems}}{{^maxItems}}
    @Size(min = {{minItems}}{{#vendorExtensions.x-size-message}}, message = "{{{.}}}"{{/vendorExtensions.x-size-message}})
    {{/maxItems}}{{/minItems}}
    {{^minItems}}{{#maxItems}}
    @Size(max = {{maxItems}}{{#vendorExtensions.x-size-message}}, message = "{{{.}}}"{{/vendorExtensions.x-size-message}})
    {{/maxItems}}{{/minItems}}
    {{#isEmail}}
    @Email{{#pattern}}(regexp = "{{{pattern}}}"{{#vendorExtensions.x-pattern-message}}, message = "{{{.}}}"{{/vendorExtensions.x-pattern-message}}){{/pattern}}{{^pattern}}{{#vendorExtensions.x-pattern-message}}(message = "{{{.}}}"){{/vendorExtensions.x-pattern-message}}{{/pattern}}
    {{/isEmail}}
    {{#isInteger}}
        {{#minimum}}
    @Min({{#vendorExtensions.x-minimum-message}}value = {{/vendorExtensions.x-minimum-message}}{{{.}}}{{#vendorExtensions.x-minimum-message}}, message = "{{{.}}}"{{/vendorExtensions.x-minimum-message}})
        {{/minimum}}
        {{#maximum}}
    @Max({{#vendorExtensions.x-maximum-message}}value = {{/vendorExtensions.x-maximum-message}}{{{.}}}{{#vendorExtensions.x-maximum-message}}, message = "{{{.}}}"{{/vendorExtensions.x-maximum-message}})
        {{/maximum}}
    {{/isInteger}}
    {{#isLong}}
        {{#minimum}}
    @Min({{#vendorExtensions.x-minimum-message}}value = {{/vendorExtensions.x-minimum-message}}{{{.}}}L{{#vendorExtensions.x-minimum-message}}, message = "{{{.}}}"{{/vendorExtensions.x-minimum-message}})
        {{/minimum}}
        {{#maximum}}
    @Max({{#vendorExtensions.x-maximum-message}}value = {{/vendorExtensions.x-maximum-message}}{{{.}}}L{{#vendorExtensions.x-maximum-message}}, message = "{{{.}}}"{{/vendorExtensions.x-maximum-message}})
        {{/maximum}}
    {{/isLong}}
    {{^isInteger}}
        {{^isLong}}
            {{#minimum}}
    @DecimalMin({{#exclusiveMinimum}}value = {{/exclusiveMinimum}}{{^exclusiveMinimum}}{{#vendorExtensions.x-minimum-message}}value = {{/vendorExtensions.x-minimum-message}}{{/exclusiveMinimum}}"{{minimum}}"{{#exclusiveMinimum}}, inclusive = false{{/exclusiveMinimum}}{{#vendorExtensions.x-minimum-message}}, message = "{{{.}}}"{{/vendorExtensions.x-minimum-message}})
            {{/minimum}}
            {{#maximum}}
    @DecimalMax({{#exclusiveMaximum}}value = {{/exclusiveMaximum}}{{^exclusiveMaximum}}{{#vendorExtensions.x-maximum-message}}value = {{/vendorExtensions.x-maximum-message}}{{/exclusiveMaximum}}"{{maximum}}"{{#exclusiveMaximum}}, inclusive = false{{/exclusiveMaximum}}{{#vendorExtensions.x-maximum-message}}, message = "{{{.}}}"{{/vendorExtensions.x-maximum-message}})
            {{/maximum}}
        {{/isLong}}
    {{/isInteger}}
    {{/isUuid}}
{{/useBeanValidation}}
