
{{^vendorExtensions.isPrimitiveArray}}
    {{^vendorExtensions.valueWithDefaultValue}}
{{#isNullable}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Nullable
{{/isNullable}}
{{^isNullable}}
    {{#required}}
        {{#isReadOnly}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Nullable
        {{/isReadOnly}}
    {{/required}}
    {{^required}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Nullable
    {{/required}}
{{/isNullable}}
    {{/vendorExtensions.valueWithDefaultValue}}
{{/vendorExtensions.isPrimitiveArray}}
{{#useBeanValidation}}
    {{^vendorExtensions.isPrimitiveArray}}
    {{^isNullable}}
        {{#required}}
            {{^isReadOnly}}
    @{{{vendorExtensions.fieldAnnPrefix}}}NotNull{{#vendorExtensions.x-not-null-message}}(message = "{{{.}}}"){{/vendorExtensions.x-not-null-message}}
            {{/isReadOnly}}
        {{/required}}
    {{/isNullable}}
    {{/vendorExtensions.isPrimitiveArray}}
    {{^isUuid}}
    {{^isContainer}}
        {{#isModel}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Valid
        {{/isModel}}
    {{/isContainer}}
    {{#pattern}}
        {{^isEmail}}{{^isByteArray}}{{^isDate}}{{^isDateTime}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Pattern(regexp = "{{{pattern}}}"{{#vendorExtensions.x-pattern-message}}, message = "{{{.}}}"{{/vendorExtensions.x-pattern-message}})
        {{/isDateTime}}{{/isDate}}{{/isByteArray}}{{/isEmail}}
    {{/pattern}}
    {{#minLength}}
        {{#maxLength}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Size(min = {{minLength}}, max = {{maxLength}}{{#vendorExtensions.x-size-message}}, message = "{{{.}}}"{{/vendorExtensions.x-size-message}})
        {{/maxLength}}
    {{/minLength}}
    {{#minLength}}{{^maxLength}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Size(min = {{minLength}}{{#vendorExtensions.x-size-message}}, message = "{{{.}}}"{{/vendorExtensions.x-size-message}})
    {{/maxLength}}{{/minLength}}
    {{^minLength}}{{#maxLength}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Size(max = {{maxLength}}{{#vendorExtensions.x-size-message}}, message = "{{{.}}}"{{/vendorExtensions.x-size-message}})
    {{/maxLength}}{{/minLength}}
    {{#minItems}}{{#maxItems}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Size(min = {{minItems}}, max = {{maxItems}}{{#vendorExtensions.x-size-message}}, message = "{{{.}}}"{{/vendorExtensions.x-size-message}})
    {{/maxItems}}{{/minItems}}
    {{#minItems}}{{^maxItems}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Size(min = {{minItems}}{{#vendorExtensions.x-size-message}}, message = "{{{.}}}"{{/vendorExtensions.x-size-message}})
    {{/maxItems}}{{/minItems}}
    {{^minItems}}{{#maxItems}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Size(max = {{maxItems}}{{#vendorExtensions.x-size-message}}, message = "{{{.}}}"{{/vendorExtensions.x-size-message}})
    {{/maxItems}}{{/minItems}}
    {{#isEmail}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Email{{#pattern}}(regexp = "{{{pattern}}}"{{#vendorExtensions.x-pattern-message}}, message = "{{{.}}}"{{/vendorExtensions.x-pattern-message}}){{/pattern}}{{^pattern}}{{#vendorExtensions.x-pattern-message}}(message = "{{{.}}}"){{/vendorExtensions.x-pattern-message}}{{/pattern}}
    {{/isEmail}}
    {{#isInteger}}
        {{#minimum}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Min({{{.}}}{{#vendorExtensions.x-minimum-message}}, message = "{{{.}}}"{{/vendorExtensions.x-minimum-message}})
        {{/minimum}}
        {{#maximum}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Max({{{.}}}{{#vendorExtensions.x-maximum-message}}, message = "{{{.}}}"{{/vendorExtensions.x-maximum-message}})
        {{/maximum}}
    {{/isInteger}}
    {{#isLong}}
        {{#minimum}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Min({{{.}}}L{{#vendorExtensions.x-minimum-message}}, message = "{{{.}}}"{{/vendorExtensions.x-minimum-message}})
        {{/minimum}}
        {{#maximum}}
    @{{{vendorExtensions.fieldAnnPrefix}}}Max({{{.}}}L{{#vendorExtensions.x-maximum-message}}, message = "{{{.}}}"{{/vendorExtensions.x-maximum-message}})
        {{/maximum}}
    {{/isLong}}
    {{^isInteger}}
        {{^isLong}}
            {{#minimum}}
    @{{{vendorExtensions.fieldAnnPrefix}}}DecimalMin("{{minimum}}"{{#exclusiveMinimum}}, inclusive = false{{/exclusiveMinimum}}{{#vendorExtensions.x-minimum-message}}, message = "{{{.}}}"{{/vendorExtensions.x-minimum-message}})
            {{/minimum}}
            {{#maximum}}
    @{{{vendorExtensions.fieldAnnPrefix}}}DecimalMax("{{maximum}}"{{#exclusiveMaximum}}, inclusive = false{{/exclusiveMaximum}}{{#vendorExtensions.x-maximum-message}}, message = "{{{.}}}"{{/vendorExtensions.x-maximum-message}})
            {{/maximum}}
        {{/isLong}}
    {{/isInteger}}
    {{/isUuid}}
{{/useBeanValidation}}
