{{#formatNoEmptyLines}}
{{#additionalOneOfTypeAnnotations}}
{{{.}}}
{{/additionalOneOfTypeAnnotations}}
{{#generatedAnnotation}}
{{>common/generatedAnnotation}}
{{/generatedAnnotation}}
{{>common/model/typeInfoAnnotation}}
{{>common/model/xmlAnnotation}}
public interface {{classname}}{{#vendorExtensions.x-implements}}{{#-first}} extends {{{.}}}{{/-first}}{{^-first}}, {{{.}}}{{/-first}}{{/vendorExtensions.x-implements}} {
{{/formatNoEmptyLines}}

{{#discriminator}}
    public {{propertyType}} {{propertyGetter}}();
{{/discriminator}}
}
