{{!
default type
}}{{^isDate}}{{^isDateTime}}{{{vendorExtensions.typeWithGenericAnnotations}}}{{/isDateTime}}{{/isDate}}{{!
date-time
}}{{#isDateTime}}@Format("{{{datetimeFormat}}}") {{{vendorExtensions.typeWithGenericAnnotations}}}{{/isDateTime}}{{!
date
}}{{#isDate}}@Format("{{{dateFormat}}}") {{{vendorExtensions.typeWithGenericAnnotations}}}{{/isDate}}
