
{{#isQueryParam}}
        @QueryValue({{#defaultValue}}value = {{/defaultValue}}"{{{baseName}}}"{{#defaultValue}}, defaultValue = "{{{defaultValue}}}"{{/defaultValue}})
{{/isQueryParam}}
{{#isPathParam}}
        @PathVariable({{#defaultValue}}name = {{/defaultValue}}"{{baseName}}"{{#defaultValue}}, defaultValue = "{{{defaultValue}}}"{{/defaultValue}})
{{/isPathParam}}
{{#isHeaderParam}}
        @Header({{#defaultValue}}name = {{/defaultValue}}"{{baseName}}"{{#defaultValue}}, defaultValue = "{{{defaultValue}}}"{{/defaultValue}})
{{/isHeaderParam}}
{{#isBodyParam}}
    {{#vendorExtensions.isPart}}
        @Part("{{baseName}}")
    {{/vendorExtensions.isPart}}
    {{^vendorExtensions.isPart}}
        @Body
    {{/vendorExtensions.isPart}}
{{/isBodyParam}}
{{#isFormParam}}
    {{#vendorExtensions.isPart}}
        @Part("{{baseName}}")
    {{/vendorExtensions.isPart}}
{{/isFormParam}}
{{#isCookieParam}}
        @CookieValue({{#defaultValue}}value = {{/defaultValue}}"{{baseName}}"{{#defaultValue}}, defaultValue = "{{defaultValue}}"{{/defaultValue}})
{{/isCookieParam}}
