{{^isEnum}}{{^isDateTime}}{{^isDate}}
    {{{vendorExtensions.typeWithGenericAnnotations}}}
{{/isDate}}{{/isDateTime}}{{/isEnum}}
{{#isDateTime}}
    {{#vendorExtensions.formatPattern}}@Format("{{{.}}}"){{/vendorExtensions.formatPattern}}{{^vendorExtensions.formatPattern}}{{#dateTimeFormat}}@Format("{{{.}}}"){{/dateTimeFormat}}{{/vendorExtensions.formatPattern}} {{{dataType}}}
{{/isDateTime}}
{{#isDate}}
    {{#vendorExtensions.formatPattern}}@Format("{{{.}}}"){{/vendorExtensions.formatPattern}}{{^vendorExtensions.formatPattern}}{{#dateFormat}}@Format("{{{.}}}"){{/dateFormat}}{{/vendorExtensions.formatPattern}} {{{dataType}}}
{{/isDate}}
{{#isEnum}}
    {{{vendorExtensions.typeWithEnumWithGenericAnnotations}}}
{{/isEnum}}
