{{^isDate}}{{^isDateTime}}{{^isEnum}}
    {{{dataType}}}
{{/isEnum}}{{/isDateTime}}{{/isDate}}
{{#isDateTime}}
    @Format("{{{datetimeFormat}}}") {{{dataType}}}
{{/isDateTime}}
{{#isDate}}
    @Format("{{{dateFormat}}}") {{{dataType}}}
{{/isDate}}
{{#isEnum}}
    {{{datatypeWithEnum}}}
{{/isEnum}}
