{{>common/licenseInfo}}
package {{invokerPackage}}.config

import io.micronaut.context.annotation.Bean
import io.micronaut.context.annotation.Factory
import io.micronaut.core.convert.TypeConverter
{{#generatedAnnotation}}
import {{javaxPackage}}.annotation.Generated
{{/generatedAnnotation}}
{{#enumImports}}
import {{{.}}}
{{/enumImports}}
import java.util.Optional

@Factory
{{#generatedAnnotation}}
{{>common/generatedAnnotation}}
{{/generatedAnnotation}}
class {{{enumConfigClassName}}} {
{{#enumParams}}

    @Bean
    fun toEnum{{{vendorExtensions.converterName}}}() = TypeConverter<String, {{{dataType}}}> { v, _, _ -> {{{vendorExtensions.convertFun}}} }

    @Bean
    fun toStr{{{vendorExtensions.converterName}}}() = TypeConverter<{{{dataType}}}, String> { v, _, _ -> Optional.of({{{vendorExtensions.convertToStrFun}}}) }
{{/enumParams}}
}
